/* @theme mysimple */
@import 'default';

section:not(.front) {
  position: relative;
  background-color: #e2e2e2;
  border-left: 20px solid #3c328f;
}
section.front{
  background-color: #3f3f3f;
}

section::after {
  content: attr(data-marpit-pagination);
  color: #000;
  font-size: 30px;
  padding: inherit;
  pointer-events: none;
  position: absolute;
  top: -2em;
  right: -1.5em;
}

h1{
  position: absolute;
  top:0.5em;
  border-bottom: solid 3px #000000;
}
h1 ~ *{
  position: relative;
  top: 0.5em;
  padding-top: 0.5em;
}

h1::before {
  position: absolute;
  bottom: 0;
}

section.front *{
  text-align: center;
  color: #cacaca;
}

section.front  h1{
  position: relative;
  font-size: 2em;
  border-bottom: 0;
  text-align: center;

}